SQUARE_APP_ID=sq0idp-WtEJHZ_7OOoxFKwFKhlLiQ
SQUARE_APP_SECRET=EAAAl37HFvvK4H1qq9iQKDxCZ3SS0VXTt8ZuvACr42evt_nmUrqX8Yi-dON15_Tz
SQUARE_REDIRECT_URI=http://localhost:3000/api/callback
SQUARE_ENVIRONMENT=production
